{% extends "base.html" %}

{% block content %}
    <div>
        <p>logged in as {{ current_user.email }}</p>
        <p><a href="{{ url_for('new') }}">Start a new conversation</a></p>
        <p><a href="{{ url_for('all_my_conversations') }}">See all my conversations</a></p>
        <p><a href="/static/about.html">About Ox</a></p>
        <p><a href="{{ url_for('sign_out') }}">Sign out</a></p>
    </div>
    <hr>
    {% for utterance in utterances %}
        <p>{{ utterance.speaker.email }}: {{ utterance.text }}</p>
    {% endfor %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text(cols=32, rows=4) }} {{form.send}}<br>
            {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
{% endblock %}
