{% extends "base.html" %}

{% block content %}
    <div>
        <a href="{{ url_for('index') }}">Start a new conversation</a>
        <a href="{{ url_for('all_my_conversations') }}">See all my conversations</a>
        <p>logged in as {{ current_user.email }}</p>
        <a href="{{ url_for('sign_in') }}">Sign out</a>
        <a href="{{ url_for('about') }}">About Ox</a>
    </div>
    <hr>
    {% for utterance in utterances %}
        <h1>{{ utterance['text'] }}</h1>
    {% endfor %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text(size=128) }} {{form.send}}
        </p>
    </form>
{% endblock %}
